@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
#list_item1{
    background-color: rgba(46, 46, 46, 0.438) !important;
}
#outer-wrapper{
    display: grid;
    grid-template-rows: 4fr 9fr .5fr 4fr;
    background-color: rgba(226, 161, 87, 0.116);
    margin:5%;
    
    
}
#top-section{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    text-align: center;
    padding:2%;

}
#top-section div *{
    padding:2%;
    margin-top:2%;
}
#middle-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1%;
    text-align: center;
    margin:0 2%;
}
#bottom-section {
    text-align: center;
}
#bottom-section *{
    margin-left:1%;
    padding: .5vw 0
}
#middle-section div{
    background-color: rgba(112, 81, 46, 0.126);
}
#names input{
    margin-top:5%;
}
#middle-section input, #top-section input, #middle-section select{
    width: 10vw;
}
.labels, h4{
    font-family: "Nunito";
    font-size: 1.2vw;
}
#bottom-section input, #bottom-section select{
    width: 7vw;
}
#add-div #add-button{
    padding:10vw;
}