{% extends 'base_employee.html' %}
{% block content %}
<header>
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'emphome.css' %}">
</header>
<body>
    <form action = ""method = "POST" id = "form" onsubmit="return validate()">
        {% include 'alert.html' %}

        {% csrf_token %}
        {{form.management_form}}
        
    <div id = "outer-wrapper">
            <div id = "top-section">
                <div class = 'asd'>
                    <label class= "labels", id = "ccLabel">Credit Card Tip</label>
                    {{new_form.cc_tip}}
                    <br>
                    <label class= "labels", id = "scLabel">Service Charge</label>
                    {{new_form.service_charge}}
                    <br>
                    <label class= "labels", id = "ttbcLabel">Total Tip By CC</label>
                    <input readonly type = "number" id = "Total_Tip_By_Cards">
                </div>
                <div class = 'asd'>
                    <label class= "labels", id = "csLabel">Cash Sales</label>
                    {{new_form.cash_sales}}
                    <br>
                    <label class= "labels", id = "ctLabel">Cash Tip</label>
                    {{new_form.cash_tip}}
                    <br>
                    <label class= "labels", id = "tcLabel">Total Cash</label>
                    <input readonly type = "number" id = "Total_Cash">
                </div>
                <div class = 'asd'>
                    <label class= "labels", id = "ccLabel2">CC Tip(s)</label>
                    <input readonly type = "number" id = "Total_Tip_By_Cards_2">
                    <br>
                    <label class= "labels", id = "ctLabel2">Cash Tip</label>
                    <input readonly type = "number" id = "cash_tip_2" onblur="total_tip()">
                    <br>
                    <label class= "labels", id = "ttLabel">Total Tip</label>
                    <input readonly type = "number" id = "Total_Tip">
                </div>
                <div class = 'asd'>
                    <label class= "labels", id = "ttLabel2">Total Tip</label>
                    <input readonly type = "number" id = "Total_Tip_2">
                    <br>
                    <label class= "labels", id = "pstLabel">Pre Shift Tip</label>
                    {{new_form.pre_shift_tip}}<br>
                    <label class= "labels", id = "stLabel">Shift Tip</label>
                    <input readonly type = "number" id = "shift_tip">
                </div>
            </div>

        <div id = "middle-section">
            <div id = "names">
                <h4>Name</h4>
                {% for form in form %}
                {{form.employee}}
                {%endfor%}
            </div>
            <div id = "indexes">
                <h4>Performance Index</h4>
                {% for form in form %}
                {{form.point}}
                {%endfor%}
            </div>
            <div id = "tips">
                <h4>Tip</h4>
                {% for form in form %}
                {{form.tip_amount}}
                {%endfor%}

            </div>
            <div id = "paid-todays">
                <h4>Paid Today</h4>
                {% for form in form %}
                {{form.paid_today}}
                {%endfor%}
            </div>
            <div id = "paid-laters">
                <h4>Paid Later</h4>
                {% for form in form %}
                {{form.paid_later}}
                {%endfor%}
            </div>
            
        </div>
        <div id = 'add-div'>
            <input type = "button" id = "add-button" onclick="addElement()" value = "Add Employee">
            <input type = "button" id = "calculate-tips" onclick = "calculateTips()" value = "Calculate Tips">

        </div>
        <div id = "bottom-section">
            <label class = "labels", id = "dateLabel">Date</label>
            {{new_form.date}}
            <label class = "labels", id = "tfLabel">Time Frame</label>
            {{new_form.time_frame}}
            <label class = "labels", id = "cbLabel">Closed By</label>
            {{new_form.submitted_employee}}
            <label class = "labels", id = "tiLabel">Total Index</label>
            <input readonly type = "number" id = "total_index" onfocus="calculateTotalIndex(this)">
            <label class = "labels", id = "tlLabel">Tip Left</label>
            <input readonly type = "number" id = "tip_left">
            <label class = "labels", id = "clLabel">Cash Left</label>
            <input readonly type = "number" id = "cash_left"><br>
            
            <input type = "submit" >
        </div>
    </div>
</form>

    <input  hidden readonly id = "query" readonly type = text value = "{{js_dict}}">
</body>

<script src = "{% static 'employee_home.js' %}"></script>


{% endblock %}