body {
    background-color: #ffffff;
}
.wrapper{
    margin:2%;
    background-color: rgba(131, 78, 57, 0.198);
    padding:10%;
}

.forms{

    background-color: red;
}
.labels-div{
    background-color: rgb(112, 112, 173);
    float: left;
    width: 50%;
}
.labels{
    float: right;
}
.textField-div{
    background-color: green;
    float: right;
    width: 50%;
}
.nameField, .phoneField, .pointField{
       padding:1%;
       
    
}